/*
 * This file contains custom GigaSpaces's space configuration definitions for advertisement facilities.
 * Specifically it is used to set the space's JoinManager leasing.
 * Note that modifying this file is recommended only for advanced users.
 */
 
net.jini.discovery.LookupDiscovery {
	taskManager = new com.sun.jini.thread.TaskManager(15, 30000, 3.0F, "Space LookupDiscovery Task", 10);
}

net.jini.discovery.LookupLocatorDiscovery {
	taskManager = new com.sun.jini.thread.TaskManager(15, 30000, 3.0F, "Space LookupLocatorDiscovery Task", 10);
}

net.jini.lease.LeaseRenewalManager {
	taskManager = new com.sun.jini.thread.TaskManager(11, 15000, 1.0F, "Space LeaseRenewalManager Task", 10);
	//Default value for net.jini.lease.LeaseRenewalManager.roundTripTime
	roundTripTime=4000;
}

net.jini.lookup.JoinManager {
	taskManager = new com.sun.jini.thread.TaskManager(15, 30000, 1.0F, "Space JoinManager Task", 10);
	//Default value for net.jini.lookup.JoinManager.maxLeaseDuration
	maxLeaseDuration=8000;
}
