com.gigaspaces.start {
	//spaceName = "myCache";
	//containerName = "myCache_container";
	//schema = "default";
	initialMemberGroups="${com.gs.jini_lus.groups}";
	initialLookupLocators="${com.gs.jini_lus.locators}";
	//clusterConfigURL = "";
	//properties="gs";
	startEmbeddedLus = new Boolean("false");
	startEmbeddedHTTPD = new Boolean("false");
	//Setting space url which will be passed to SpaceFinder
	//In case this property is used (same as setting -Dgs.space.url
	//no need to set spaceName, containerName, schema, properties
	//The default is set in the gsServer shell to be:
	// /./myCache?schema=default&properties=gs
	spaceURL="${gs.space.url}";
}
