/*
 * This file contains default GigaSpaces EE Service Grid configuration
 * definitions for the following core services :
 *  1. Grid Service Container
 *  2. Grid Service Monitor
 *  3. Jini Lookup Service
 * 	4. GigaSpaces transport
 *  5. Reggie and Mahalo Jini services
 */
 
/* ----------------------------------------------------------------------------
 * Imports for software support which make the declaration of these properties 
 * easier to read and declare
 * ---------- ----------------------------------------------------------------*/
import com.gigaspaces.start.SystemConfig;
import org.jini.rio.boot.BootUtil;

/* -----------------------------------------------------------------------------
 * Declare Gigaspaces Grid Service Container Configuration 
 * ---------------------------------------------------------------------------*/
com.gigaspaces.grid{
    groups = new String[]{"${com.gs.jini_lus.groups}"};
}

com.gigaspaces.transport {
    host = BootUtil.getHostAddressFromProperty("java.rmi.server.hostname");

    nioConfig = new com.gigaspaces.config.lrmi.nio.NIOConfiguration(
                                                                        16, /* min executors threads */
                                                                        500, /* max executors threads */
                                                                        1024, /* maxConnPool */
                                                                        true, /* isMultiplex */
                                                                        null, /* bindHostName - if null resolves to the localhost IP address */
                                                                        0, /* bindPort - if null any next free port will be used for incoming client requests. The server port is set by default to 0, which means next free port*/
																		java.lang.Integer.MAX_VALUE, /* threadsQueueSize */
																		0, /* slowConsumerThroughput */
																		100, /* slowConsumerLatency */
                                                                        3 /* slowConsumerRetries */);
    defaultExporter = new com.gigaspaces.lrmi.GenericExporter( nioConfig );
}

com.gigaspaces.grid.gsc {
    initialLookupGroups = BootUtil.toArray("${com.gs.jini_lus.groups}");
    initialLookupLocators= BootUtil.toLookupLocators("${com.gs.jini_lus.locators}");
    serviceName = "Grid Service Container";
    serviceComment = "GigaSpace Technologies Dynamic Grid Service Container";
    provisionEnabled = Boolean.valueOf(true);
    opStringName = "Service Grid Infrastructure";
    jmxName = "com.gigaspaces.grid:type=GSC";

    nativeLibDirectory = new String[]{
                             "${com.gigaspaces.grid.lib}${/}native"
                         };

    /* Configure a FaultDetectionHandler for the Grid Service Container */
    fdh = "org.jini.rio.resources.client.HeartbeatFaultDetectionHandler";
    configArg = new Object[]{new String[]{
        "-",
        "org.jini.rio.resources.client.HeartbeatFaultDetectionHandler.heartbeatPeriod=10000",
        "org.jini.rio.resources.client.HeartbeatFaultDetectionHandler.heartbeatGracePeriod=10000"}
    };
    faultDetectionHandler =
        new org.jini.rio.core.ClassBundle(fdh,
                                          null,  // load from classpath
                                          new String[]{"setConfiguration"},
                                          new Object[]{ configArg });
}

/* -----------------------------------------------------------------------------
 * Declare the platform DL Jar. This property is checked when loading a
 * bean (POJO), to ensure that the codebase has this jar defined. If the
 * gs-dl.jar is not included as a <Resource> in the bean's <Interfaces>
 * declaration it will be added.
 * ---------------------------------------------------------------------------*/
org.jini.rio.bean {
    platformDLJars = new String[]{"gs-dl.jar"};
}

/* -----------------------------------------------------------------------------
 * Declare that a GSContextFactory be created when instantiating services, and
 * enable adaptive codebase support  
 * ---------------------------------------------------------------------------*/
service.load {
    serviceBeanContextFactory = new com.gigaspaces.grid.space.GSContextFactory();
    classAnnotator = "com.gigaspaces.grid.gsc.AdaptiveClassAnnotator";
}

/* -----------------------------------------------------------------------------
 * Declare Gigaspaces Grid Service Monitor Configuration 
 * ---------------------------------------------------------------------------*/
org.jini.rio.monitor {
    serviceResourceSelector = new org.jini.rio.monitor.LeastActiveSelector();
    /* Set the groups to join */
    initialLookupGroups = BootUtil.toArray("${com.gs.jini_lus.groups}");
    initialLookupLocators= BootUtil.toLookupLocators("${com.gs.jini_lus.locators}");
    serviceName = "Grid Service Manager";
    serviceComment = "Grid Service Management";
    opStringName = "Service Grid Infrastructure";
    jmxName = "com.gigaspaces.grid:type=GSM";

    /* Configure a FaultDetectionHandler for the Grid Service Monitor */
    fdh = "org.jini.rio.resources.client.HeartbeatFaultDetectionHandler";
    configArg = new Object[]{new String[]{
        "-",
        "org.jini.rio.resources.client.HeartbeatFaultDetectionHandler.heartbeatPeriod=10000",
        "org.jini.rio.resources.client.HeartbeatFaultDetectionHandler.heartbeatGracePeriod=10000"}
    };
    faultDetectionHandler =
        new org.jini.rio.core.ClassBundle(fdh,
                                          null,  // load from classpath
                                          new String[]{"setConfiguration"},
                                          new Object[]{ configArg });
}

/* -----------------------------------------------------------------------------
 * Jini Lookup Service Configuration
 * ---------------------------------------------------------------------------*/
com.sun.jini.reggie {
    initialMemberGroups = BootUtil.toArray("${com.gs.jini_lus.groups}");
    initialLookupLocators = BootUtil.toLookupLocators("${com.gs.jini_lus.locators}");
    unicastDiscoveryHost =
        BootUtil.getHostAddressFromProperty("java.rmi.server.hostname");

    initialLookupAttributes =
        new net.jini.core.entry.Entry[] {
            new net.jini.lookup.entry.Name("Lookup"),
            new org.jini.rio.entry.OperationalStringEntry(
                                               "Service Grid Infrastructure")
        };

    serverExporter = com.gigaspaces.transport.defaultExporter;
    
    //Specifies the lower bound for the maximum value allowed for service leases, in milliseconds.
	minMaxServiceLease = 900000L;
}

/* -----------------------------------------------------------------------------
 * Jini Transaction Manager - Mahalo Service Configuration
 * ---------------------------------------------------------------------------*/
 com.sun.jini.mahalo {
	persistenceDirectory = ".";
    unicastDiscoveryHost =
        BootUtil.getHostAddressFromProperty("java.rmi.server.hostname");
	// Set the groups for mahalo to advertise
	initialMemberGroups = BootUtil.toArray("${com.gs.jini_lus.groups}");
	initialLookupGroups = BootUtil.toArray("${com.gs.jini_lus.groups}");
	
	//Specifies the lower bound for the maximum value allowed for service leases, in milliseconds.
	minMaxServiceLease = 900000L;
	
	//Make sure the command line contains a proper setting for -Dcom.gs.jini_lus.locators
	//the following line is commented since not in all cases the system property was passed
	//NOTE: in order to enable the Jini Locators unicast discovery and registration, please
	//uncomment the next line and pass -Dcom.gs.jini_lus.locators=<host:port> in the command line
	initialLookupLocators = BootUtil.toLookupLocators("${com.gs.jini_lus.locators}");
	serverExporter = com.gigaspaces.transport.defaultExporter;
}

com.gigaspaces.grid.lookup{
    randomBound = 0;
}

/* -----------------------------------------------------------------------------
 * Configuration attributes used if a GigaSpace is started by the
 * SystemBoot utility
 * ---------------------------------------------------------------------------*/
com.gigaspaces.start {
        spaceName = "mySpace";
        //containerName = "mySpace_container";
        schema = "cache";
        initialMemberGroups="${com.gs.jini_lus.groups}";
        //clusterConfigURL = "";
        //properties="gs";
        startEmbeddedLus = new Boolean("false");
        startEmbeddedHTTPD = new Boolean("false");

        /* Setting space url which will be passed to SpaceFinder
         * In case this property is used (same as setting -Dgs.space.url
         * no need to set spaceName, containerName, schema, properties */
        spaceURL="/./mySpace?schema=default&properties=gs";
}

/* -----------------------------------------------------------------------------
 * Default exporter to use for the ServiceDiscoveryManager is the same as the
 * exporter declared above
 * ---------------------------------------------------------------------------*/
net.jini.lookup.ServiceDiscoveryManager {
    eventListenerExporter = com.gigaspaces.transport.defaultExporter;
}

net.jini.discovery.LookupDiscovery {
	    /*
		 * Setup for Multi Network-Interface cards
		 * --------------------------------------------------------------- 
		 * Each network interface that is represented by an element in the 
		 * array corresponding to this configuration item will be used to send 
		 * and receive multicast packets when this utility is participating in the
		 * multicast discovery process. When not set, this utility will use all
		 * of the network interfaces in the system. When this entry is set to a
		 * zero length array, multicast discovery is effectively disabled. And
		 * when set to null, the interface to which the operating system
		 * defaults will be used.
		 *
		 * Hence, to use a specific network card, call getByName which searches
		 * for the network interface with the specified name.
		 */
	    //multicastInterfaces = null;
	    //multicastInterfaces = new java.net.NetworkInterface[]{};
	    //multicastInterfaces = new java.net.NetworkInterface[] { java.net.NetworkInterface.getByName("${java.rmi.server.hostname}") };
		multicastAnnouncementInterval = 5000;
}

/* --------------------  Compute Resource configuration  ---------------------*/
/* -----------------------------------------------------------------------------
 * Declare attributes for creating the ComputeResource object.
 * ---------------------------------------------------------------------------*/
org.jini.rio.boot {
    /* The compute resource configuration simply refers to this file.
     * To change this, an override should be used to reference a different file,
     * or overrides used to modify declared (or additional) properties */
    computeResourceConfig =
        "${com.gs.home}${/}config${/}services${/}services.config";
    computeResource =
        new org.jini.rio.qos.ComputeResource(
            SystemConfig.appendOverrides(computeResourceConfig),
                                        (net.jini.config.Configuration)$data);
}

/* -----------------------------------------------------------------------------
 * The exporter to declare as the *default* exporter for services and utilities
 * ---------------------------------------------------------------------------*/
org.jini.rio {
    defaultExporter = com.gigaspaces.transport.defaultExporter;
}

/* -----------------------------------------------------------------------------
 * Declare ComputeResource properties
 * ---------------------------------------------------------------------------*/
org.jini.rio.qos {
    host = BootUtil.getHostAddressFromProperty("java.rmi.server.hostname");
    address = java.net.InetAddress.getByName(host);

    systemCapabilitiesLoader =
        new com.gigaspaces.management.SystemCapabilities();

    /* Report every 30 seconds. This is how often the compute resource
     * informs registered Observers of a state change. A state change is
     * determined if any of the MeasurableCapability components contained within
     * this ComputeResource provide an update in the interval specified by the
     * reportInterval property */
    reportInterval = 30000;

    /* Declare platform capabilities */
    platformCapabilities =
        new org.jini.rio.qos.capability.PlatformCapability[] {
            new org.jini.rio.qos.capability.software.SoftwareSupport (
                new Object[]{org.jini.rio.qos.capability.software.SoftwareSupport.NAME,         "Jini",
                             org.jini.rio.qos.capability.software.SoftwareSupport.DESCRIPTION,  "Jini Technology",
                             org.jini.rio.qos.capability.software.SoftwareSupport.MANUFACTURER, "Sun Microsystems",
                             org.jini.rio.qos.capability.software.SoftwareSupport.VERSION,      "2.1"})
        };

}

/* -----------------------------------------------------------------------------
 * Configuration for the CPU measurableCapability
 * ---------------------------------------------------------------------------*/
com.gigaspaces.management.system.cpu {
    /* Report every 15 seconds with a sample size of 2, which means a result
     * will be produced every 30 seconds */
    reportRate = 15000;
    sampleSize = 2;
}

/* -----------------------------------------------------------------------------
 * Configure the watchDataSourceExporter
 * ---------------------------------------------------------------------------*/
org.jini.rio.watch {
    watchDataSourceExporter = org.jini.rio.defaultExporter;
}