<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:os-core="http://www.openspaces.org/schema/core"
       xmlns:os-events="http://www.openspaces.org/schema/events"
       xmlns:os-remoting="http://www.openspaces.org/schema/remoting"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.openspaces.org/schema/core http://www.openspaces.org/schema/9.1/core/openspaces-core.xsd
       http://www.openspaces.org/schema/events http://www.openspaces.org/schema/9.1/events/openspaces-events.xsd
       http://www.openspaces.org/schema/remoting http://www.openspaces.org/schema/9.1/remoting/openspaces-remoting.xsd">


    <bean id="propertiesConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>


    <context:annotation-config/>

    <os-events:annotation-support />

    <os-core:space id="space1" url="/./executorSpace?cluster_schema=partitioned&amp;total_members=2&amp;id=1" lookup-groups="${user.name}" />

    <os-core:giga-space id="gigaSpace1" space="space1"  />

    <os-core:space id="space2" url="/./executorSpace?cluster_schema=partitioned&amp;total_members=2&amp;id=2" lookup-groups="${user.name}" />

    <os-core:giga-space id="gigaSpace2" space="space2"  />

    <os-core:giga-space id="distGigaSpace" space="space1" clustered="true"  />
</beans>